<?xml version="1.0" encoding="utf-8"?>
<!--
  This configuration file is used by Azure App Service to route requests.
  For Linux App Service, this file may be ignored in favor of the startup command.
-->
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="index.js"/>
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
    <iisnode node_env="production" watchedFiles="web.config;*.js" loggingEnabled="true" logDirectory="iisnode"/>
  </system.webServer>
</configuration>
